<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Habit Tracker User Menu</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="user-menu">
        <div class="user-icon" onclick="toggleMenu()">
            <img src="/icons/user.ico" alt="Profile" id="profileIcon">
        </div>

        <div class="dropdown" id="dropdown">
            <a href="/dashboard" id="topMenuItem" class="menu-item">
                Dashboard
            </a>
            <a href="/settings" class="menu-item">
                Settings
            </a>
            <a href="/dashboard" class="menu-item">
                TBD
            </a>
            <a href="/dashboard" class="menu-item">
                TBD
            </a>
            <a href="/logout" class="menu-item" id="signout">
                Sign Out
            </a>
        </div>
    </div>
</body>

</html>


