<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Habit Tracker Forgot Password</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div id="form-container">
        <h1>Forgot your password?</h1>
        <p class="center-text">Let us send you a reset link.</p>
        <form action="/forgot-password" method="post">
            Email<br><input type="email" id="email" name="email" placeholder="Enter your email" class="input-val" required>
            <input type="submit" class="btn" value="Reset Password">
        </form>
        <br>
        <% if (locals.message) { %>
            <div class="alert-success">
                <p class="center-text"> <%= message %> </p>
            </div>
        <% } %>

        <% if (locals.error) { %>
            <div class="alert-error">
                <p class="center-text"> <%= error %> </p>
            </div>
        <% } %>
        <br>
        <a href="/login" class="a-btn">Sign in</a>
        <br>
       <p class="center-text"><strong>Note: </strong>Unfortunately nodemailer does not work with Render under the free tier. See functionality in the demo video.</p>
    </div>
</body>

</html>