<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Habit Tracker</title>
</head>

<body>
    <h1>Welcome to the Habit Tracker</h1>
    <h3>Created and Designed by Ryne Acheson</h3>
    <h2>Returning User</h2>
    <ul>
        <li><a href="/record">Record Daily Progress</a></li>
        <li><a href="/reviewUser">Review Daily Progress</a></li>
        <li><a href="/changeUserSettings">Change User Settings</a></li>
    </ul>
    <hr>
    <h2>New User</h2>
    <ul>
        <li><a href="/createAccount">Create Account</a></li>
    </ul>
    <hr>
</body>
</html>