<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Habit Tracker Reset Password</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div id="form-container">
        <h1>Set New Password</h1>
        <p class="center-text">Please enter and confirm your new password below.</p>
        <form action="/reset-password" method="post">
            <input type="hidden" name="token" value="<%= token %>">
            Password<br><input type="password" id="newPassword" name="newPassword" placeholder="New password" minlength="8" class="input-val" required><br>
            Confirm Password<br><input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password" minlength="8" class="input-val" required><br>
            <input type="submit" class="btn" value="Set Password">
        </form>
        <% if (locals.error) { %>
            <div class="alert-error">
                <%= error %>
            </div>
        <% } %>
    </div>

</body>

</html>