<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Password Reset Successful</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div id="form-container">
        <h1>Success!</h1>
        <p class="center-text">
            Your password has been successfully reset. <br>
            You can now sign in with your new password.
        </p>

        <a href="/login" class="a-btn">Sign in to account</a>
    </div>
</body>

</html>